bucket = "blue-bank-tfstate-account-id"
key    = "blue-bank/dev/terraform.tfstate"
region = "kr-standard"

endpoints = {
  s3 = "https://kr.object.ncloudstorage.com"
}

use_path_style              = true
skip_credentials_validation = true
skip_region_validation      = true
skip_requesting_account_id  = true
skip_metadata_api_check     = true
skip_s3_checksum            = true
